<body>
  <div class="container">
    <nav class="tabs">
      <div class="tab-buttons">
        <button class="tab-button {{abaPerfilStatus}}" data-tab="perfil" (click)="MostrarPerfil()">👤 Perfil</button>
        <button class="tab-button {{abaRequisicoesStatus}}" data-tab="requisicoes" (click)="MostrarRequisicoes()">📄 Requisições</button>
      </div>

      <button class="logout-button" (click)="Sair()">🚪 Sair</button>
    </nav>

    <!-- ABA PERFIL -->
    @if (abaPerfil){
      <app-informacoes></app-informacoes>
    }

    <!-- ABA REQUISIÇÕES -->
    @if(abaRequisicoes){
      <app-requisicoes></app-requisicoes>
    }
  </div>
</body>